@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background: rgb(255, 255, 255);
}
/* Shared Styles */
.light-font{
    color:#3A3A3A;
    font-weight: 600;
}
.navbar{
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.nav-title{
    font-size:1.5rem;
    font-weight:bold;
}
.display-flex{
    display:flex;
}
ul li a{
    text-decoration: none;
    color:#3A3A3A;
    margin-top:90px;
}
nav > ul li{
    list-style: none;
    margin-right:34px;
}
.navbar, .banner{
    max-width:1440px;
    margin:0 auto;

}

.banner-text{
    max-width:582px;
    height:270px;
    border-radius: 41px;
    margin-top:130px;;
}
.banner-title{
    max-width:582px;
    height:133px;
    font-size:3.25rem;
    font-weight: bold;
    color:#3A3A3A;
    margin-bottom:25px;
}
.banner-description{
    max-width:505px;
    height:60.9px;
    font-weight: 600;
   
}
.btn-primary{
    max-width:196px;
    height:44px;
    background-color: #E02C6D;
    border-radius: 41px;
    border:none;
    color:#FFFFFF;
   padding:0 24px;
   margin-top:16px;
}
.banner-image{

    background-image: url(../images/circle..svg);
    /* background-color: red; */
    max-width:480px;
    height:480px;
    background-repeat: no-repeat;
    margin-top:50px;
}
.banner-image img{
    max-width:100%;
    height: 100%;
}
.banner{
    display: flex;
    justify-content: space-between;

}
/* .sponsor-list{
    display:none;
} */
 .sponsor-container{
    display:flex;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
   margin:0 auto;
   max-width:1110px;
   height:110px;
   gap:20px;
   justify-content: center;
   align-items: center;
  justify-items:center ;
  margin-top:69px;
 }
 .sponsor-list img{
    width:60%;
    height:60%;
   

 }
 .sponsor-list{
    margin: 0 auto;
    gap:61px;;
    height:39px;
   display:flex;
   
 }
@media screen and (max-width: 576px) {
    .navbar, .banner, .banner-text {
        display:flex;
        flex-direction: column;
    }
    .navbar {
        width:100%;
        margin-right:0px;
    }
    .banner-image{
        width:100%;
        height:100%;
        gap:500px;
        margin-top:50px;
        margin-bottom:20px;
    }
    .banner-image img{
       
    }
    .banner-text{
        gap:25px;
        margin-top:120px;
        display: flex;
        justify-content: center;
        text-align: center;
        justify-items: center;

    }
    .banner-description{
        margin-top:50px;
        text-align: center;
        justify-items: center;
    }
    ul{
        padding:0px;
        justify-items: center;
        
        
    }
    
   .banner{
    display:flex;
    flex-direction: column-reverse;
    margin-top:0px;
   }
   .sponsor-container{
    width:100%;
    background: #FFFFFF;
    
   }
   .sponsor-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
   }
   .sponsor-lis img{
    width:100%;
    height: 100%;
   }
}
/* @media screen and (min-width: 577px) and (max-width:992px) {
    .banner-text{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:20px;
        justify-content: ;
    }
    .navbar{
        display:flex;
        flex-direction: column;
        text-align: center;
        overflow-x: ;
    }
    .banner-description{
        margin-bottom:0px;
    }
    .banner{
        display:flex;
        flex-direction: column;
        gap:500px;
    }
    .banner-image{
        width:100%;
        height:100%;
        
}
} */